/.mypy_cache
/.venv
/__pycache__
/data
/trained_models
*.png
/dist

# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.pyc
*.json
*.pth
/wandb
*.npz
*.pdf
*.drawio*
/torch_compiler
/benchmark_runs
/configs