/.mypy_cache
/.venv
/__pycache__
/trained_models
/dist

# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.pyc

# Project-specific
*.json
*.pth
/wandb
*.npz
*.pdf
*.drawio*
/torch_compiler
/benchmark_runs
/benchmark_runs_old
/configs_old
/data_raw
/data/crossval_folds
/data/molecule_images
/data/similar_molecules_results.txt
/data/*md*
*.pkl
*.png
*.svg
*.tex

# Multitask pretrained models
!benchmark_runs\tg80_multitask_atom_new_22-Sep-2025_02-05-30
!benchmark_runs\tg80_multitask_egnn_r_new_23-Sep-2025_22-38-20
!benchmark_runs\tg80_multitask_egnn_s_new_24-Sep-2025_16-08-55
!benchmark_runs\tg80_multitask_egno_new_21-Sep-2025_23-45-44

!benchmark_runs\md22_paper_atom_20-Sep-2025_22-53-38
!benchmark_runs\md22_paper_egno_20-Sep-2025_02-51-56

!benchmark_runs\md17_last_paper_atom_16-Sep-2025_11-22-22
!benchmark_runs\md17_last_paper_egno_16-Sep-2025_16-50-11
!benchmark_runs\md17_uniform_paper_atom_14-Sep-2025_17-36-18
!benchmark_runs\md17_uniform_paper_atom_24-Sep-2025_22-25-21
!benchmark_runs\md17_uniform_paper_atom_25-Sep-2025_03-36-08
!benchmark_runs\md17_uniform_paper_egnn_r_25-Sep-2025_13-08-13
!benchmark_runs\md17_uniform_paper_egnn_r_25-Sep-2025_20-02-14
!benchmark_runs\md17_uniform_paper_egnn_s_25-Sep-2025_18-08-22
!benchmark_runs\md17_uniform_paper_egno_14-Sep-2025_19-38-45
!benchmark_runs\md17_uniform_paper_egno_25-Sep-2025_19-55-32